section.calculator(data-step-number="1")
    .container
        .content.hr
            form(action="").calculator-page__form
                h1.calculator__title Калькулятор стоимости
                .calculator-wrapper.calculator-wrapper_active(data-step-content="1")
                    .calculator__items-wrapper
                        h5.calculator__little-title Формат
                        .calculator__items.calculator__format-wrapper
                            .calculator__item
                                img(src="./img/icons/calculator-1.png", alt="").calculator__icon
                                .calculator__info-wrapper
                                    input.checkbox.calculator__checkbox(type="radio" id="a4" name="format" value="A4")
                                    label.calculator__format.label(for="a4") A4
                                    p.calculator__description (210х297мм)
                            .calculator__item
                                img(src="./img/icons/calculator-2.png", alt="").calculator__icon
                                .calculator__info-wrapper
                                    input.checkbox.calculator__checkbox(type="radio" id="a5" name="format" value="A5")
                                    label.calculator__format.label(for="a5") A5
                                    p.calculator__description (210х297мм)
                            .calculator__item
                                img(src="./img/icons/calculator-3.png", alt="").calculator__icon
                                .calculator__info-wrapper
                                    input.checkbox.calculator__checkbox(type="radio" id="customizable" name="format" value="Сustomizable")
                                    label.calculator__format.label(for="customizable") Свой размер
                                    .calculator__parameters-wrapper
                                        .calculator__parameter-wrapper
                                            label.calculator__parameters.number-label(for="height") Высота
                                            input.calculator__num-input.num-input(type="number" id="height" name="format")
                                        .calculator__parameter-wrapper
                                            label.calculator__parameters.number-label(for="width") Ширина
                                            input.calculator__num-input.num-input(type="number" id="width" name="format")
                    .calculator__items-wrapper
                        h5.calculator__little-title Ориентация
                        .calculator__items
                            .calculator__item
                                img(src="./img/icons/calculator-4.png", alt="").calculator__icon
                                .calculator__info-wrapper
                                    input.checkbox.calculator__checkbox(type="radio" id="vertically" name="layout" value="vertically")
                                    label.calculator__format.label(for="vertically")
                            .calculator__item.m-r-0
                                img(src="./img/icons/calculator-5.png", alt="").calculator__icon
                                .calculator__info-wrapper
                                    input.checkbox.calculator__checkbox(type="radio" id="horizontally" name="layout" value="horizontally")
                                    label.calculator__format.label(for="horizontally")

                .calculator-wrapper(data-step-content="2")
                    .calculator__items-wrapper
                        h5.calculator__little-title Страницы в блоке
                        .calculator__items
                            .calculator__item
                                input.checkbox.calculator__checkbox(type="radio" id="black-and-white" name="colour" value="black-and-white")
                                label.label.label_row(for="black-and-white") Черно-белые
                            .calculator__item.m-l-30
                                input.checkbox.calculator__checkbox(type="radio" id="colored" name="colour" value="colored")
                                label.label.label_row(for='colored') Цветные
                            .calculator__item.calculator__item_col.m-l-30
                                label.label(for='pages') Кол-во полос
                                input.calculator__num-input.num-input(type="number" id="pages" name="colour")
                    .calculator__items-wrapper
                        h5.calculator__little-title Цветные страницы в блоке
                        .calculator__items
                            .calculator__item
                                img(src="./img/icons/calculator-6.png", alt="").calculator__icon
                                .calculator__info-wrapper
                                    input.checkbox.calculator__checkbox(type="radio" id="one-block" name="colored-pages-in-a-block" value="one-block")
                                    label.label(for="one-block") Одним блоком
                            .calculator__item.m-l-30
                                img(src="./img/icons/calculator-7.png", alt="").calculator__icon
                                .calculator__info-wrapper
                                    input.checkbox.calculator__checkbox(type="radio" id="throw-about" name="colored-pages-in-a-block" value="throw-about")
                                    label.label(for="throw-about") Разбросаны по<br>книге
                            .calculator__item.calculator__item_col.m-l-30.m-r-0
                                label.label(for='pages-in-a-block') Кол-во полос
                                input.calculator__num-input.num-input(type="number" id="pages-in-a-block" name="colored-pages-in-a-block")

                .calculator-wrapper(data-step-content="3")
                    .calculator__items-wrapper
                        h5.calculator__little-title Переплет
                        .calculator__items
                            .calculator__item
                                img(src="./img/icons/calculator-8.png", alt="").calculator__icon
                                .calculator__info-wrapper
                                    input.checkbox.calculator__checkbox(type="radio" id="cover" name="binding" value="cover")
                                    label.label(for="cover") Обложка
                            .calculator__item
                                img(src="./img/icons/calculator-9.png", alt="").calculator__icon
                                .calculator__info-wrapper
                                    input.checkbox.calculator__checkbox(type="radio" id="cover-with-flaps" name="binding" value="cover-with-flaps")
                                    label.label(for="cover-with-flaps") Обложка с<br>клапанами
                            .calculator__item
                                img(src="./img/icons/calculator-10.png", alt="").calculator__icon
                                .calculator__info-wrapper
                                    input.checkbox.calculator__checkbox(type="radio" id="hard-cover" name="binding" value="hard-cover")
                                    label.label(for="hard-cover") Твердый (7 БЦ)
                            .calculator__item
                                img(src="./img/icons/calculator-11.png", alt="").calculator__icon
                                .calculator__info-wrapper
                                    input.checkbox.calculator__checkbox(type="radio" id="staple" name="binding-2" value="staple")
                                    label.label(for="staple") Скоба
                            .calculator__item
                                img(src="./img/icons/calculator-12.png", alt="").calculator__icon
                                .calculator__info-wrapper
                                    input.checkbox.calculator__checkbox(type="radio" id="spring" name="binding-2" value="spring")
                                    label.label(for="spring") Пружина
                            .calculator__item.m-r-0
                                img(src="./img/icons/calculator-13.png", alt="").calculator__icon
                                .calculator__info-wrapper
                                    input.checkbox.calculator__checkbox(type="radio" id="bolted" name="binding-2" value="bolted")
                                    label.label(for="bolted") На болтах


                .calculator-wrapper(data-step-content="4")
                    .calculator__row
                        .calculator__items-wrapper
                            h5.calculator__little-title.m-t-0 Форзац
                            .calculator__items
                                .calculator__item
                                    input.checkbox.calculator__checkbox(type="radio" id="color-fly-leaf" name="fly-leaf" value="colored-fly-leaf")
                                    label.label.label_row(for="color-fly-leaf") Цветной
                                .calculator__item
                                    input.checkbox.calculator__checkbox(type="radio" id="black-and-white-fly-leaf" name="fly-leaf" value="black-and-white-fly-leaf")
                                    label.label.label_row(for='black-and-white-fly-leaf') Черно-белый
                                .calculator__item
                                    input.checkbox.calculator__checkbox(type="radio" id="clean-fly-leaf" name="fly-leaf" value="clean-fly-leaf")
                                    label.label.label_row(for='clean-fly-leaf') Чистый
                        .calculator__items-wrapper
                            h5.calculator__little-title.m-t-0 Нахзац
                            .calculator__items
                                .calculator__item
                                    input.checkbox.calculator__checkbox(type="radio" id="color-nachsatz" name="nachsatz" value="color-nachsatz")
                                    label.label.label_row(for="color-nachsatz") Цветной
                                .calculator__item
                                    input.checkbox.calculator__checkbox(type="radio" id="black-and-white-nachsatz" name="nachsatz" value="black-and-white-nachsatz")
                                    label.label.label_row(for='black-and-white-nachsatz') Черно-белый
                                .calculator__item
                                    input.checkbox.calculator__checkbox(type="radio" id="clean-nachsatz" name="nachsatz" value="clean-nachsatz")
                                    label.label.label_row(for='clean-nachsatz') Чистый
                    .calculator__row-2.m-t-30
                        .calculator__items-wrapper
                            h5.calculator__little-title.m-t-0.m-b-10 Капитал
                            .calculator__items.m-t-0
                                .calculator__item.select-wrapper
                                    select#capital.select(name="paper")
                                        option 
                                        option 1
                                        option 2
                                        option 3
                                        option 4
                                        option 5
                        .calculator__items-wrapper
                            h5.calculator__little-title.m-t-0.m-b-10 Ляссе
                            .calculator__items.m-t-0
                                .calculator__item.select-wrapper
                                    select#ribbon.select(name="paper")
                                        option 
                                        option 1
                                        option 2
                                        option 3
                                        option 4
                                        option 5

                .calculator-wrapper(data-step-content="5")
                    .calculator__row
                        .calculator__items-wrapper
                            h5.calculator__little-title Бумага
                            .calculator__items
                                .calculator__item.calculator__item_col
                                    label.label(for="offset-paper") Офсетная
                                    .select-wrapper.m-t-15
                                        select#offset-paper.select(name="paper")
                                            option 
                                            option 1
                                            option 2
                                            option 3
                                            option 4
                                            option 5
                                .calculator__item.calculator__item_col
                                    label.label(for="coated-paper") Мелованная
                                        .select-wrapper.m-t-15
                                            select#coated-paper.select(name="paper")
                                                option 
                                                option 1
                                                option 2
                                                option 3
                                                option 4
                                                option 5
                        .calculator__items-wrapper
                            h5.calculator__little-title Шитье нитками
                            .calculator__items
                                .calculator__item
                                    input.checkbox.calculator__checkbox(type="radio" id="sewing-with-thread-yes" name="sewing-with-thread" value="yes")
                                    label.label.label_row(for="sewing-with-thread-yes") Есть
                                .calculator__item.m-l-30
                                    input.checkbox.calculator__checkbox(type="radio" id="sewing-with-thread-no" name="sewing-with-thread" value="no")
                                    label.label.label_row(for='sewing-with-thread-no') Нет
                        .calculator__items-wrapper
                            h5.calculator__little-title.m-b-10 Упаковка в пленку <br> поэкземплярно
                            .calculator__items.m-t-25
                                .calculator__item
                                    input.checkbox.calculator__checkbox(type="radio" id="packaging-yes" name="packaging" value="yes")
                                    label.label.label_row(for="packaging-yes") Есть
                                .calculator__item.m-l-30
                                    input.checkbox.calculator__checkbox(type="radio" id="packaging-no" name="packaging" value="no")
                                    label.label.label_row(for='packaging-no') Нет
                    .calculator__row-2
                        .calculator__items-wrapper
                            h5.calculator__little-title.m-b-10 Тираж
                            .calculator__items.m-t-0
                                .calculator__item
                                    input.calculator__num-input.num-input_long.num-input(type="number" id="circulation" name="circulation")

                .calculator-wrapper(data-step-content="6")
                    .calculator__row
                        .calculator__items-wrapper
                            h5.calculator__little-title.m-b-10 Обложка
                            .calculator__items.m-t-15
                                .characteristic__grid
                                    .characteristic__content.f-d-c
                                        .calculator__item
                                            input.checkbox.calculator__checkbox(type="checkbox" id="colored-cover-type" name="cover-type" value="colored")
                                            label.label.label_row(for="colored-cover-type") Цветная
                                        .calculator__item.m-t-15
                                            input.checkbox.calculator__checkbox(type="checkbox" id="glossy-cover-type" name="cover-type" value="glossy")
                                            label.label.label_row(for="glossy-cover-type") Глянцевая
                                    .characteristic__content.f-d-c
                                        .calculator__item
                                            input.checkbox.calculator__checkbox(type="checkbox" id="embossing-cover-type" name="cover-type" value="embossing")
                                            label.label.label_row(for='embossing-cover-type') Тиснение
                                        .calculator__item.m-t-15
                                            input.checkbox.calculator__checkbox(type="checkbox" id="lamination-cover-type" name="cover-type" value="lamination")
                                            label.label.label_row(for='lamination-cover-type') Ламинация
                                    .characteristic__content.f-d-c
                                        .calculator__item
                                            input.checkbox.calculator__checkbox(type="checkbox" id="silk-feel" name="cover-type" value="silk-feel")
                                            label.label.label_row(for="silk-feel") Silk Feel
                                        .calculator__item.m-t-15
                                            input.checkbox.calculator__checkbox(type="checkbox" id="congreve-cover-type" name="cover-type" value="congreve")
                                            label.label.label_row(for='congreve-cover-type') Конгрев
                                    .characteristic__content.f-d-c
                                        .calculator__item
                                            input.checkbox.calculator__checkbox(type="checkbox" id="matte-cover-type" name="cover-type" value="matte")
                                            label.label.label_row(for="matte-cover-type") Матовая
                                        .calculator__item.m-t-15
                                            input.checkbox.calculator__checkbox(type="checkbox" id="varnish-cover-type" name="cover-type" value="varnish")
                                            label.label.label_row(for='varnish-cover-type') УФ лак
                        .calculator__items-wrapper
                            h5.calculator__little-title.m-b-10 Дополнительно
                            .calculator__items.m-t-15
                                .characteristic__grid
                                    .characteristic__content.f-d-c
                                        .calculator__item
                                            input.checkbox.calculator__checkbox(type="checkbox" id="book-layout" name="circulation" value="book-layout")
                                            label.label.label_row(for="book-layout") Верстка
                                        .calculator__item.m-t-15
                                            input.checkbox.calculator__checkbox(type="checkbox" id="editing" name="circulation" value="editing")
                                            label.label.label_row(for="editing") Редактура
                                    .characteristic__content.f-d-c
                                        .calculator__item
                                            input.checkbox.calculator__checkbox(type="checkbox" id="design" name="circulation" value="design")
                                            label.label.label_row(for='design') Дизайн
                                        .calculator__item.m-t-15
                                            input.checkbox.calculator__checkbox(type="checkbox" id="editing2" name="circulation" value="editing2")
                                            label.label.label_row(for="editing2") Редактура
                                    .characteristic__content.f-d-c
                                        .calculator__item
                                            input.checkbox.calculator__checkbox(type="checkbox" id="ISBN" name="circulation" value="ISBN")
                                            label.label.label_row(for="ISBN") Присвоить номер&nbsp;ISBN       
                    .calculator__row-2
                        .calculator__items-wrapper
                            h5.calculator__little-title.m-b-10.m-t-15 Доставка по адресу
                            .calculator__items.m-t-0
                                textarea.calculator__textarea(name="address" placeholder='Введите адрес')

                .calculator-wrapper(data-step-content="7")
                    .calculator__items-wrapper
                        h5.calculator__little-title.m-b-10.calculator__order-title Куда отправить расчет
                        .calculator__items.m-t-0
                            .calculator-page__order-details.order-details
                                .order-details__inputs-wrapper
                                    .order-details__input
                                        input.checkbox.checkbox_black-border(type="radio" id="order-details-tel" name="order-details" value="Tel" checked)
                                        label.label.label_row(for="order-details-tel") Телефон
                                    .order-details__input
                                        input.checkbox.checkbox_black-border(type="radio" id="order-details-mail" name="order-details" value="E-mail")
                                        label.label.label_row(for="order-details-mail") E-mail
                                    .order-details__input
                                        input.checkbox.checkbox_black-border(type="radio" id="order-details-whatsapp" name="order-details" value="Whatsapp")
                                        label.label.label_row(for="order-details-whatsapp") Whatsapp
                                .order-details__form-wrapper
                                    input#order-tel.form__input.m-t-30(type="tel" name="phone" placeholder='Ваш телефон')
                                    input#order-mail.form__input.m-t-30(type="email" name="email" placeholder='Ваш E-mail')
                                    input#order-whatsapp.form__input.m-t-30(type="tel" name="whatsapp" placeholder='Ваш Whatsapp')
                                    textarea#order-text.form__input.order-details__textarea(name="order-tex" placeholder='Ваш комментарий')
                                    button.black-button.order-details__button(type='submit') Отправить
                                .order-details__items-wrapper
                                    .order-details__item
                                        p.order-details__item-title Переплет:
                                        p.order-details__item-description Мягкий переплет
                                    .order-details__item
                                        p.order-details__item-title Формат:
                                        p.order-details__item-description А5
                                    .order-details__item
                                        p.order-details__item-title Ориентация:
                                        p.order-details__item-description Книжная
                                    .order-details__item
                                        p.order-details__item-title Обложка:
                                        p.order-details__item-description Черно-белая 300 г/м2
                                    .order-details__item
                                        p.order-details__item-title Ламинация:
                                        p.order-details__item-description Матовая
                                    .order-details__item
                                        p.order-details__item-title Книжный блок:
                                        p.order-details__item-description Черно-белые страницы
                                    .order-details__item
                                        p.order-details__item-title Количество страниц в книге:
                                        p.order-details__item-description 180
                                    .order-details__item
                                        p.order-details__item-title Книжный блок:
                                        p.order-details__item-description Бумага офсетная 80 г/м2
                                    .order-details__item
                                        p.order-details__item-title Цветные страницы:
                                        p.order-details__item-description Цветные вставки разбросаны по книге
                                    .order-details__item
                                        p.order-details__item-title Количество цветных страниц в книге:
                                        p.order-details__item-description 20
                                    .order-details__item
                                        p.order-details__item-title Тираж:
                                        p.order-details__item-description 1
                            .after-sending  
                                .after-sending__title Спасибо за заявку!
                                .after-sending__description Мы пришлем вам расчет в ближайшее время выбранным вами способом 
                                button(type='button').transparent-button.after-sending__button Посчитать заново
    .calculator__step
        p.calculator__number Шаг 1/7
        .arrow-wrapper.calculator_pre
            .border-arrow_black.calculator__border-arrow
            .arrow_black.arrow__big.arrow_pre.calculator__arrow
        .arrow-wrapper.m-l-10.calculator_next
            .border-arrow_black.calculator__border-arrow
            .arrow_black.arrow__big.calculator__arrow





                
                